<ul class="main-navigation">
<li><a href="{{ root_url }}/"><i class="fa fa-home"></i> 主页</a></li>
<li><a href="{{ root_url }}/blog/categories/funny"><i class="fa fa-btc"></i> 币界趣闻</a></li>
<li><a href="{{ root_url }}/blog/categories/finance"><i class="fa fa-compass"></i> 前世今生</a></li>
<li><a href="{{ root_url }}/blog/categories/tec"><i class="fa fa-flask"></i> 技术杂谈</a></li>
<li><a href="{{ root_url }}/blog/archives"><i class="fa fa-list-ul"></i>存档</a></li>
<li><a href="https://github.com/opendbank/opendbank.github.io/wiki/%E6%80%8E%E6%A0%B7%E6%8A%95%E7%A8%BF" target="_blank"><i class="fa fa-envelope"></i> 投稿</a></li>
<li><a href="{{ root_url }}/about">关于</a></li>
</ul>
